<%- include('./partials/head') %>


<h1> Latest Posts </h1>
<% postings.forEach((posting) => { %>
  <div class="div-con">

    <div class="card mt-2" style="width: 18rem;">
                        <div class="card-body">
                            <%= posting.owner.username %>: 
                            <a id="post" href="/posts/<%= posting._id %>"><h5 class="card-title"><%= posting.title %></h5></a>
                            <h5 id="Category_"> Tag: <%= posting.category %></h5>
                        </div>
                      </div>
  </div>
                  <% }) %>

<%- include('./partials/footer') %>

