<%- include('../partials/head') %>


<h1> <%= posting.owner.username %>'s Post </h1>
<div class="div-con2">
  
  <div class="card mt-2_" style="width: 18rem;">
    <div class="card-body">
      <div id="ownerName">
      <%= posting.owner.username %>: 
      <%= posting.title %>
    </div>
      <h5 id="Category_"> Tag: <%= posting.category %></h5>
      <div id="descriptionPost">
      <h5 class="card-title"><%= posting.text %></h5>
    </div>
    
<%if (user){%>
  <% if (posting.owner._id.equals(user._id)) { %>
    <a id="commentDropdown2" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Options
    </a>
      <ul class="dropdown-menu">
        <a id="Edit" href="/posts/<%= user._id %>/<%= posting._id %>/edit" type="submit"><li>Edit</li></a>
        <form action="/posts/<%= user._id %>/<%= posting._id %>?_method=DELETE" method="POST">
          <button id="Delete"type="submit">Delete</button>
       </form>
      </ul>
    </div>
    
<%}%>


<h3 id="addComment">Add a comment</h3>
<h5>Note: Delete & Edit has not been implemented. Comment wisely</h5>
<div id="commentColor">
  <form action="/posts/<%= posting._id %>/comments" method="POST">
    <textarea id="Comment_" name="body">
    </textarea>
    <button id="PostBtn" type="submit">Send</button>
  </form>
    <h1 id= "Comment">Comments</h1>
    <% comments.forEach((comment) => { %>
      
      <% if (comment.owner._id.equals(user._id)) { %>

      <a id="commentDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <%= comment.owner.username %>:
    </a>
    <ul class="dropdown-menu">
      <a id="Edit" href="/posts/<%= user._id %>/<%= comment._id %>" type="submit"><li>Edit</li></a>
      <form action="/posts/<%= user._id %>/<%= posting._id %>/comments/<%= comment._id %> ?_method=DELETE" method="POST">
        <button id="btnBtn"type="submit">Delete</button>
     </form>
    </ul>
    <%} else {%> 
      <%= comment.owner.username %>:
      <%} %>
      <%= comment.body %> 
      <br />
     
  
  <div class="commentSent">
  </div>
  <a id="commentDropdown3" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  </a>
  <ul class="dropdown-menu">
    <a id="Edit" href="/posts/<%= user._id %>/<%= comment._id %>" type="submit"><li>Reply</li>
        </form>
  </ul>
  <% }) %>



  <% } else { %>
    <div id="Spacing">
    <h1 id= "Comment">Comments</h1>
    <% comments.forEach((comment) => { %> 
    <%= comment.owner.username %>:
   
   <%= comment.body %> 
  
  <div class="commentSent">
  </div>
</div>
  
  <% }) %>
      <% } %>




    
    </div>
    </div>
    </div>

<%- include('../partials/footer') %>


