<%- include('../partials/head') %>

<h1 id="newPost">Edit Post</h1>

<div class="container">
<form action="/posts/<%= user._id %>/<%= posting._id %>?_method=PUT" method="POST">

    <label for="">Title: </label>
    <input type="text" id="title" name="title" value="<%=posting.title%>">
    <label for="" id="postEdit">Post: </label>
    <input type="text" id="text" name="text" value="<%=posting.text%>">

    <label for="category">Category:</label>
    <select name="category" id="category">
        <option value="Disabled" selected disabled>-</option>
        <option value="JavaScript">JavaScript</option>
        <option value="CSS">CSS</option>
        <option value="HTML">HTML</option>
        <option value="Embedded JavaScript (EJS)">Embedded JavaScript (EJS)</option>
        <option value="Python">Python</option>
        <option value="Java">Java</option>
        <option value="Any">Any</option>
    </select>
    
    <button type="submit">Edit your post</button>
</form>
</div>

<%- include('../partials/footer') %>