<%- include('../partials/head') %>


<h1> Your Posts </h1>
<% postings.forEach((posting) => { %>

  <div class="div-con">

    <div class="card mt-2" style="width: 18rem;">
                        <div class="card-body">
                          <%= posting.owner.username %>: 
                          <a id="post"href="/posts/<%= posting._id %>"><h5 class="card-title"><%= posting.text %></h5></a>
                          <h5 id="Category_"> Tag: <%= posting.category %></h5>
                          <time datetime="<%= %>"></time>
                        </div>
                      </div>
  </div>
                  <% }) %>

<%- include('../partials/footer') %>

