<%- include('../partials/head') %>

<h1> Your Posts </h1>
<% postings.forEach((posting) => { %>
<div class="card mt-2" style="width: 18rem;">
                    <div class="card-body">
                        <%= posting.owner %>. Tag: <%= posting.category %>
                      <h5 class="card-title">$<%= posting.text %></h5>
                      <a href="/posts/<%= posting._id %>">View Details</a>
                    </div>
                  </div>
                  <% }) %>

<%- include('../partials/footer') %>